*.pyc
*#
.#*
__pycache__/*
.DS_Store
*_venv
*.diff
nosetests.xml
.idea/*
*.egg
*.egg-info/*
.filing_cache
.xbrl_rss_cache
www.sec.gov
dist/*
notebooks/temp/*
notebooks/*.log
notebooks/.ipynb_checkpoints/*

*.egg-info/
*.egg

*.log

# exclude taxonomies
/data/taxonomies/arelle/*
!/data/taxonomies/arelle/.gitkeep
/data/taxonomies/*
!/data/taxonomies/.gitkeep
/data/instances/*
!/data/instances/.gitkeep
/data/downloaded files/*
!/data/downloaded_files/.gitkeep
/data/documentation/*
!/data/documentation/.gitkeep

# exclude test results
/tests/data/test_instances/actual/*
!/tests/data/test_instances/actual/.gitkeep

#exclude results
/results

#exclude docs
/docs/*
