*.pyc
*#
.#*
__pycache__/*
.DS_Store
*_venv
*.diff
nosetests.xml
.idea/*
*.egg
*.egg-info/*
.filing_cache
.xbrl_rss_cache
www.sec.gov
dist/*
notebooks/temp/*
notebooks/.ipynb_checkpoints/*

*.egg-info/
*.egg

# exclude unzipped taxonomy
/data/taxonomy/arelle/cache/*
!/data/taxonomy/arelle/cache/.gitkeep
/data/instances/*
!/data/instances/.gitkeep
/data/downloaded files/*
!/data/downloaded_files/.gitkeep
/data/documentation/*
!/data/documentation/.gitkeep
/data/downloaded files/*
!/data/downloaded files/.gitkeep


#exclude arelle source code
/src/arelle

#exclude results
/results

#exclude docs
/docs/*
